body{
  margin: 5em;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: solid;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color: grey;
  font-style: italic;
}

li{
  list-style-type: none;
}

header ul{
  border-bottom: solid;
  border-bottom-width: thin;
}

h1{
  border-bottom: solid;
}

a{
  text-decoration: none;
  font-weight: 550;
}

nav a{
  color: blue;
}
